@import "styles.css";

h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

button, .custom-file-upload {
    background-color: var(--ua-crimson);
    color: var(--alt-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: 20px 15px;
}

button:hover, .custom-file-upload:hover {
    background-color: var(--dark-crimson);
}

.both-buttons {
    display: flex;
    justify-content: space-between;
}

#prediction, #confidence {
    font-weight: bold;
    margin-top: 20px;
    color: var(--ua-crimson);
}

input[type="file"] {
    margin-bottom: 20px;
}

#uploadedImage {
    display: block;
    margin: 20px auto;
    max-height: 400px;
}

#loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

#uploaded-image {
    display: none;
    max-width: 100%;
    margin-top: 20px;
}
