<!-- Table for inning scores -->
<table class="score-table">
    <tr>
        <th>Inning</th>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
        <th>4th</th>
        <th>5th</th>
        <th>6th</th>
        <th>7th</th>
        <th>8th</th>
        <th>9th</th>
        <th>Extra</th>
        <th>Final</th>
    </tr>
    <tr>
        <td>{{ page.team1.name }}</td>
        <td>{{ page.inning1.team1 }}</td>
        <td>{{ page.inning2.team1 }}</td>
        <td>{{ page.inning3.team1 }}</td>
        <td>{{ page.inning4.team1 }}</td>
        <td>{{ page.inning5.team1 }}</td>
        <td>{{ page.inning6.team1 }}</td>
        <td>{{ page.inning7.team1 }}</td>
        <td>{{ page.inning8.team1 }}</td>
        <td>{{ page.inning9.team1 }}</td>
        <td>{{ page.extra.team1 }}</td>
        <td>{{ page.final.team1 }}</td>
    </tr>
    <tr>
        <td>{{ page.team2.name }}</td>
        <td>{{ page.inning1.team2 }}</td>
        <td>{{ page.inning2.team2 }}</td>
        <td>{{ page.inning3.team2 }}</td>
        <td>{{ page.inning4.team2 }}</td>
        <td>{{ page.inning5.team2 }}</td>
        <td>{{ page.inning6.team2 }}</td>
        <td>{{ page.inning7.team2 }}</td>
        <td>{{ page.inning8.team2 }}</td>
        <td>{{ page.inning9.team2 }}</td>
        <td>{{ page.extra.team2 }}</td>
        <td>{{ page.final.team2 }}</td>
    </tr>
</table>
