<!-- Table for quarter scores -->
<table class="score-table">
    <tr>
        <th>Quarter</th>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
        <th>4th</th>
        <th>Final</th>
    </tr>
    <tr>
        <td>{{ page.team1.name }}</td>
        <td>{{ page.quarter1.team1 }}</td>
        <td>{{ page.quarter2.team1 }}</td>
        <td>{{ page.quarter3.team1 }}</td>
        <td>{{ page.quarter4.team1 }}</td>
        <td>{{ page.final.team1 }}</td>
    </tr>
    <tr>
        <td>{{ page.team2.name }}</td>
        <td>{{ page.quarter1.team2 }}</td>
        <td>{{ page.quarter2.team2 }}</td>
        <td>{{ page.quarter3.team2 }}</td>
        <td>{{ page.quarter4.team2 }}</td>
        <td>{{ page.final.team2 }}</td>
    </tr>
</table>
