<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    {% include header.html %}

    <div class="content-container">
        <div class="main-content">
            {{ content }}
        </div>
    </div>

    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }} Scott Ratchford - All Rights Reserved</p>
    </footer>
</body>

</html>