<!-- _layouts/media_review.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    {% include header.html %}
    <div class="content-container">
        <div class="content">
            <h1 class="centered-bold">{{ page.title }}</h1> 
            <h3>{{ page.date | date: "%B %d, %Y" }}</h3>
    
            {{ content }}
    
            <div class="score-box">
                <h3>Score: {{ page.score }}/10</h3>
            </div>
        </div>
    
        <footer>
            <p>&copy; {{ 'now' | date: "%Y" }} Scott Ratchford - All Rights Reserved</p>
        </footer>
    </div>
</body>

</html>

