@import "variables.css";

/* Pokemon or Digimon Image Classifier styles */
body {
    background-color: var(--section-bg-color); /* light gray */
}

h2 {
    color: var(--primary-color); /* University of Alabama's crimson color */
    margin-bottom: 20px;
}
button, .custom-file-upload {
    background-color: var(--primary-color); /* University of Alabama's crimson color */
    color: var(--alt-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: 20px 15px;
}

button:hover, .custom-file-upload:hover {
    background-color: var(--dark-crimson);
}

.both-buttons {
    display: flex;
    justify-content: space-between;
}

#prediction,
#confidence {
    font-weight: bold;
    margin-top: 20px;
    color: var(--primary-color); /* University of Alabama's crimson color */
}

input[type="file"] {
    margin-bottom: 20px;
}

#uploadedImage {
    display: block;
    margin: 20px auto; /* Center the image horizontally */
    max-height: 400px;
}

