@import "variables";

/* Resume Page Styles */
.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

iframe {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
