@import "variables";

/* Resume Page Styles */
section {
    padding: 5px 20%;
    text-align: left;
    padding-block: 1%;
    padding-inline: 20%;
    padding-bottom: 1.5%;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

iframe {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
