:root {
    --primary-color: #9E1B32; /* University of Alabama's crimson color */
    --text-color: #000;
    --alt-text-color: #fff;
    --section-bg-color: #f4f4f4;
    --alabama-light-gray: #A9A9A9; /* Alabama's light gray */
    --dark-crimson: #7a1428; /* Darkened crimson for hover effect */
}
